html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background-image: url("../image/gravel.png");
  margin: 0;
  padding-bottom: 6rem;
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

header {
  background-color: #fcf8f8;
  border-bottom: solid #cccccc;
}

#logo {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  background: #4aaaa5;
}

.navbar {
  max-width: 960px;
  margin-left: 30px;
}
.navbar-collapse {
  justify-content: flex-end;
}

.custom-toggler.navbar-toggler {
  border-color: #4aaaa5;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

label:hover {
  cursor: pointer;
}

.dropdown-item {
  width: auto;
  padding: 0.3em;
}

.dropdown-item:not(:first-child):before {
  border-right: 2px solid #4aaaa5;
  content: "";
  margin-right: 0.4em;
}

hr {
  border: 1px solid #969595aa;
  margin-top: 15px;
  margin-bottom: 15px;
}

li {
  display: inline;
}

header a,
a:active {
  border: none;
  color: #777777;
  padding: 0.2em 0.8em 0.2em 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
  opacity: 0.6;
  transition: 0.3s;
}

header a:hover {
  cursor: pointer;
  color: #4aaaa5;
  text-decoration: underline;
  opacity: 1;
}

.img-box {
  margin-top: 10px;
}
#bio-photo {
  position: relative;
  width: 100%;
  vertical-align: middle;
}

.main-info h2,
.portfolio-box h2,
.contact-box h2 {
  font-weight: 200;
  font-size: 30px;
  color: #4aaaa5;
  margin: 0;
  font-family: "Georgia", Times, "Times New Roman", serif;
}

.main-info,
.portfolio-box,
.contact-box {
  background-color: #ffffffaa;
  margin: 30px 60px 30px 60px;
  padding: 2em;
  height: 100%;
  max-width: 960px;
}

.row p {
  font-size: 17px;
  word-break: break-all;
  text-align: justify;
  width: 100%;
}

.p-links {
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  color: #85c4c0;
}

.p-links:hover {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #4aaaa5;
}

.pictures-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: auto;
}

.portfolio-pic {
  padding: 20px;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}

.portfolio-pic:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.text-box {
  position: relative;
  width: 300px;
  padding: 0;
}

.text {
  position: absolute;
  bottom: 1.5em;
  right: 20px;
  left: 20px;
  padding: 0.5em;
  text-align: center;
  background-color: #4aaaa5cc;
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-family: "Georgia", Times, "Times New Roman", serif;
}

.footer {
  position: absolute;
  background-color: #666666;
  border-top: solid 7px #4aaaa5;
  color: lightgray;
  padding: 0.7em 0;
  margin-top: 0;
  width: 100%;
}

#submit-button {
  background-color: #4aaaa5;
  padding: 0.5em 1em 0.5em 1em;
  color: #ffffff;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  font-family: "Georgia", Times, "Times New Roman", serif;
}

#message-window {
  height: 8em;
  width: 100%;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-color: #bdbbbb;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.bot-right {
  position: relative;
}

.bot-right:before,
.bot-right:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
}

.bot-right:before {
  top: -3px;
  width: 1.5px;
  background-image: -webkit-gradient(
    linear,
    0 100%,
    0 0,
    from(#000),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(transparent, #000);
  background-image: -moz-linear-gradient(transparent, #000);
  background-image: -o-linear-gradient(transparent, #000);
}

.bot-right:after {
  left: -3px;
  height: 2px;
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(rgb(32, 32, 32)),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(right, #000, transparent);
  background-image: -moz-linear-gradient(right, #000, transparent);
  background-image: -o-linear-gradient(right, #000, transparent);
}

/* #submit-btn:hover {
  opacity: 0.7;
} */
